<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <style>
    * {
      box-sizing: inherit;
      text-rendering: geometricPrecision;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    img {
      max-width: 100%;
      vertical-align: middle;
    }

    body {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;

      background-color: #000;
      color: #fff;

      font-size: 16px;
      font-family: Arial, sans-serif;
      font-weight: normal;
      line-height: 1.2;
    }

    main {
      position: relative;
      padding: 30px 15px;
    }

    .gallery {
      overflow: hidden;
    }

    .thumbnail {
      float: left;
      margin: 1px;
    }

    .thumbnail img {
      width: 100%;
      height: auto;
    }

    @media (min-width: 480px) {
      .thumbnail img {
        width: 160px;
      }
    }
  </style>
</head>
<body>

<main>
  <h1>Deine Snapshot Fotogallery</h1>

  <section class="gallery">
    {% for photo in gallery.photos %}
    <div class="thumbnail" data-id="{{ photo.id }}">
      <img src="./photos/{{ photo.fileName }}" alt="{{ photo.fileName }}" />
    </div>
    {% endfor %}
  </section>
</main>

</body>
</html>